<!DOCTYPE html>
{% extends "base.html" %}
{% block mainbody %}
<div class="well" style="margin-left: auto;margin-right: auto;width: 720px;">
    <div class="panel panel-primary">
        <div class="panel-heading">Detect Appliction
            <a id="id_next1" class="btn btn-success pull-right nopadding" href="#">Next&gt;</a>
            <a id="id_next2" class="btn btn-success pull-right nopadding hide" href="#">Next&gt;</a>
            <a id="id_finish" class="btn btn-danger pull-right nopadding hide" href="#">Finish</a>
        </div>
        <div class="panel-body">
            <div id='step1'>
                <h2>Engine</h2>
                <table width="100%" class="table">
                    <tr>
                        <td>
                        <input id="id_host_search" name="search" placeholder="search ip or hostname" type="text" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td><h4>Search Result:</h4>(Please select one host for the application)
                        </td>
                    </tr>
                    <tr height="220">
                        <td>
                        <select id="id_host_select" multiple="multiple" class="form-control" style="height:200px;">
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td id="id_td_port">
                        <lable>Docker Engine Port:</lable>
                        <input id="id_host_port" name="host_port" placeholder="2375" type="text" class="form-control">
                        </td>
                    </tr>
                </table>
            </div>
            <div id='step2' class="hide">
                <h2>Containers</h2>
                <table width="100%" class="table">
                    <tr>
                        <td>(Please select one container)
                        </td>
                    </tr>
                    <tr height="220">
                        <td>
                        <select id="id_container_select" multiple="multiple" class="form-control" style="height:200px;">
                        </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div id='step3' class="hide">
                <h2>Application</h2>
                <table width="100%" class="table">
                    <tr>
                        <td>name</td>
                        <td id="id_td_name">
                            <input id="id_name" name="app_name" placeholder="name" type="text" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>description</td>
                        <td id="id_td_desc">
                            <input id="id_desc" name="app_desc" placeholder="description" type="text" class="form-control">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){

$('#id_host_search').on
('input', function() 
{
$('#id_host_select').html("")
if($('#id_host_search').val().length>=3){
    $.getJSON("/cmdb/host/find?q="+$('#id_host_search').val(),function(result){
        $.each(result, function(i, hostinfo){
            //console.log("i:"+hostinfo.id+";field:"+hostinfo.ip)
            $('#id_host_select').append($('<option>', 
                {
                    value: hostinfo.id+","+hostinfo.ip,
                    text: "["+hostinfo.name+"]"+hostinfo.ip
                })
            );
        });
    });
}
});
$('#id_host_port').on('input',function(){
    if($('#id_host_port').val().length>0){
        $('#id_td_port').removeClass('has-error')
        $('#id_td_port').addClass('has-success')
    }else{
        $('#id_td_port').removeClass('has-success')
        $('#id_td_port').addClass('has-error')
    }
});
ip=0
hostid=0
port=0
containerid=0
name=0
description=0
$('#id_next1').click(function(){
    sel=$('#id_host_select :selected').val()
    ip=sel.split(',')[1]
    hostid=sel.split(',')[0]
    port=$('#id_host_port').val()
    $.getJSON("/cmdb/application/ping?ip="+ip+"&port="+port,function(result){
        if(result['result']=='ok'){
            $("#id_next1").addClass('hide');
            $("#id_next2").removeClass('hide');
            $.getJSON("/cmdb/application/containers?ip="+ip+"&port="+port,function(result){
                $.each(result, function(i, container){
                    $('#id_container_select').append($('<option>', 
                    {
                        value: container.id,
                        text: container.name+"@"+container.image
                    }));
                });
            });
            $("#step1").addClass('hide');
            $("#step2").removeClass('hide');
        }
    });
});
$('#id_next2').click(function(){
    containerid=$('#id_container_select :selected').val()
    if(containerid!=0){
        $("#id_next2").addClass('hide');
        $("#id_finish").removeClass('hide');
        $("#step2").addClass('hide');
        $("#step3").removeClass('hide');
    }
});
$('#id_finish').click(function(){
    name=$('#id_name').val()
    description=$('#id_desc').val()
    if(name!=0 && description!=0){
        $.post(
            "",
            {csrfmiddlewaretoken:getCookie("csrftoken"),ip:ip,hostid:hostid,port:port,containerid:containerid,name:name,description:description},
            function(data){
                if(data['result']=='ok'){
                    window.location.href="/cmdb/application"
                }else{
                    alert('ERROR!')
                }
            }
        );
    }
});

});
function getCookie(name) { var cookieValue = null;if (document.cookie && document.cookie != '') {var cookies = document.cookie.split(';');for (var i = 0; i < cookies.length; i++) {var cookie = jQuery.trim(cookies[i]);if (cookie.substring(0, name.length + 1) == (name + '=')) {cookieValue = decodeURIComponent(cookie.substring(name.length + 1));break;}}}return cookieValue;}
</script>
<style>
.nopadding {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
</style>
{% endblock %}