<!DOCTYPE html>
{% extends "base.html" %}
{% block mainbody %}
<div class="well" style="margin-left: auto;margin-right: auto;width: 720px;">
    <div class="panel panel-primary">
        <div class="panel-heading">{{title}}
        <a id="id_save" class="btn btn-danger pull-right nopadding" href="#">Save</a>
        </div>
        <div class="panel-body">
            <table class="table" id="step1">
            <tbody>
                <tr>
                    <td>name</td>
                    <td id="id_td_name">
                        <input id="id_name" name="group_name" placeholder="groupname" type="text" class="form-control" value="{{group.name}}">
                    </td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>
                    <select id="id_type" name="group_type" class="form-control" disabled>
                        <option>{{group.type}}</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td width="100%" colspan="2">
                    {% ifequal group.type "Host" %}
                    <input id="id_host_search" name="search" placeholder="search ip or hostname" type="text" class="form-control">
                    {% endifequal %}
                    {% ifequal group.type "CONFIG" %}
                    <input id="id_config_search" name="search" placeholder="search name or classname" type="text" class="form-control">
                    {% endifequal %}
                    </td>
                </tr>
                <tr align="center">
                    <td width="50%"><h4>Search Result</h4>
                    </td>
                    <td width="50%"><h4>Group Member</h4>
                    </td>
                </tr>
                <tr height="320">           
                    <td width="50%">
                    <select id="id_select" multiple="multiple" class="form-control" style="height:300px;">
                    </select>
                    </td>
                    <td width="50%">
                    <select id="id_target" multiple="multiple" class="form-control" style="height:300px;">
                    {% for m in members %}
                        <option value="{{m.id}}">[{{m.name}}]{{m.ip}}{{m.classname}}</option>
                    {% endfor %}
                    </select>
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <a class="btn btn-info" href="#" id="id_add">Add</a>
                    </td>
                    <td width="50%">
                        <a class="btn btn-danger" href="#" id="id_remove">Remove</a>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
<script>
add_list=new Array()
del_list=new Array()
$(document).ready(function(){
$('#id_name').on('input',function(){
    if($('#id_name').val().length>0){
        $('#id_td_name').removeClass('has-error')
        $('#id_td_name').addClass('has-success')
    }else{
        $('#id_td_name').removeClass('has-success')
        $('#id_td_name').addClass('has-error')
    }
});
$('#id_host_search').on
('input', function() 
{
$('#id_select').html("")
if($('#id_host_search').val().length>=3){
    $.getJSON("{{BASE_URL}}host/find?q="+$('#id_host_search').val(),function(result){
        $.each(result, function(i, hostinfo){
            //console.log("i:"+hostinfo.id+";field:"+hostinfo.ip)
            $('#id_select').append($('<option>', 
                {
                    value: hostinfo.id,
                    text: "["+hostinfo.name+"]"+hostinfo.ip
                })
            );
        });
    });
}
});
$('#id_config_search').on
('input', function() 
{
$('#id_select').html("")
if($('#id_config_search').val().length>=3){
    $.getJSON("{{BASE_URL}}config/find?q="+$('#id_config_search').val(),function(result){
        $.each(result, function(i, configinfo){
            $('#id_select').append($('<option>', 
                {
                    value: configinfo.id,
                    text: "["+configinfo.name+"]"+configinfo.classname
                })
            );
        });
    });
}
});
$('#id_add').click(function(){
    $('#id_select :selected').each(function(i,selected){
        $('#id_target').append($('<option>', 
            {
                value: $(selected).val(),
                text: $(selected).text()
            })
        );
        var index=del_list.indexOf($(selected).val())
        if (index>-1){
            del_list.splice(index,1);
        }else{
            add_list.push($(selected).val())
        }
    });
});
$('#id_remove').click(function(){
    $('#id_target :selected').each(function(i,selected){
        var index=add_list.indexOf($(selected).val())
        if (index>-1){
            add_list.splice(index,1);
        }else{
            del_list.push($(selected).val())
        }
    });
    $('#id_target :selected').remove();
});
$('#id_save').click(function(){
    if($('#id_name').val().length>0){
        name=$('#id_name').val()
        $.post(
                "{{BASE_URL}}group/{{group.id}}",
                {_method: "edit",csrfmiddlewaretoken: getCookie("csrftoken"),name:name,add:add_list.toString(),del:del_list.toString()},
                function(data){window.location.replace("{{BASE_URL}}group/{{group.id}}");}
            )
    }
});
});
function getCookie(name) { var cookieValue = null;if (document.cookie && document.cookie != '') {var cookies = document.cookie.split(';');for (var i = 0; i < cookies.length; i++) {var cookie = jQuery.trim(cookies[i]);if (cookie.substring(0, name.length + 1) == (name + '=')) {cookieValue = decodeURIComponent(cookie.substring(name.length + 1));break;}}}return cookieValue;}
</script>
<style>
.nopadding {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
</style>>
{% endblock %}