<!DOCTYPE html>
{% extends "base.html" %}
{% block mainbody %}
<div style="margin-left: auto;margin-right: auto;width: 720px;">
<table class="table">
<tr>
<td>
<a type="button" class="btn btn-info btn-lg" style="height:200px;width:100%" href="/cmdb/host">Host</a>
</td>
<td>
<a type="button" class="btn btn-warning btn-lg" style="height:200px;width:100%" href="/cmdb/config">Config</a>
</td>
</tr>
</table>
</div>
<style>
.nopadding {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
</style>
{% endblock %}